.gitconfig
test.db
db.sqlite3
backup.db
*.pyc
*.ipynb*
*.log
django.log.*
*.swo
*.gitpwd
commandes.txt
sass
.DS_*
.venv
.coverage
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.pid
.idea
